*{
    padding: 0px;margin: 0px;
    box-sizing: border-box;
    font-family:Lato,sans-serif;
    
}
#navbar-top{
    border: 0px solid red;
    width: 100%;
    height: 25px;
    background-color: #eaeaea ;
    position:fixed;
    top: 0px;
}
#navbar-top p{
    cursor: pointer;
}
.nav{
    border: 0px solid red;
    width: 75%;height: 100%;
    margin: auto;
    display: flex;
    gap: 25%;
    
    
}
.nav-right{
    border: 0px solid black;
    height: 100%;
    width: 30%;
    display: flex;
    font-size: 13px;
    gap:10px;
    justify-content: center;
    align-items: center;
    color: #4f4f5c ;
    background-color: #eaeaea ;
    
    
}
.nav-right img{
    width: 16px;height: 16px;
    cursor: pointer;
}
.nav-left{
    border: 0px solid green;
    width: 45%;
    display: flex;
    font-size: 13px;
    gap: 15px;
    justify-content: center;
    align-items: center;
    color: #4f4f5c ;
    background-color: #eaeaea ;
}
.nav-left img{
    width: 11px;height: 9px;
}
#d{
    font-size: 24px;
    color: #b4b4b4;
}
#main-navbar{
    border: 1px solid red;
    width: 100%;
    height: 80px;
    position:fixed;
    top: 25px;
    background-color: white;
}
.navbar-part{
    border: 0px solid black;
    height: 100%;width: 70%;
    margin: auto;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.navbar-part>img{
    width: 92px;height: 38px;cursor: pointer;
}
#loc{
    display: flex;
    gap: 4px;cursor: pointer;
}
#loc>img{
    width: 28px;height: 28px;
}
#place img{
    width: 11px;height: 9px;
}
.cat{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.cat:hover{
    color: red;
}
.log{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;cursor: pointer;
}
.log:hover{
    color: red;
}
.ct{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;cursor: pointer;
}
#search{
    height: 80px;
    border: 1px solid #eaeaea;
    height: 40px;
    width: 370px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding-left: 15px;padding-right:10px;
    background-color: #f8f8f8;
}
#search img{
    width: 24px;height: 24px;
}
#search input{
    background-color: #f8f8f8;
    height: 40px;
    width: 370px;
    font-size: 16px;
    line-height: 22.5px;
    border: none;
    outline: none; 
}
#sliders{
    border: 0px solid black;
    margin-top: 94px;
    overflow: hidden;
    
    
    
}
#sliders img{
    width: 100%;
    
}
#sliders .left-arrow{
    position: absolute;
    top: 40%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 55px;
    color:white;
    cursor: pointer;
}
.left-arrow{
    border: 0px solid red;
}
#sliders .right-arrow{
    position: absolute;
    top: 36%;
    right:30px;
    font-size: 55px;
    color:white;
    cursor: pointer;
}
.categories-part{
    border: 0px solid black;
    width: 70%;margin: auto;
    
    margin-top: 50px;
}
.categories-part>h2{
    color: #4a4a4a;
}
.categories-part>h2+p{
    color: rgb(138, 131, 131);
    margin-top:9px;
    margin-bottom: 20px;
}
#categories-body{
    border: 0px solid red;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:250px 250px 250px;
    gap: 24px;
    line-height: 24px;

}
#categories-body div{
    border: 0px solid red;
    font-size: 17px;
    font-weight: bold;
    color: #4f4f5c;
    text-align: center;

}
#categories-body div>img{
    width: 100%;
    height: 94%;
    border: 0px solid black;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
#categories-body img:hover{
    transition: 0.7s;
    transform: scale(1.1);

}

