#log_out{
    cursor: pointer;
}
#store {
    /* border:2px solid blue; */
    height: 100%;
    width: 400px;
    /* margin-top: 100px; */
    /* margin-left: 350px; */
    /* position:absolute; */
    border-radius: 10px;
    background-image: url(https://www.licious.in/img/rebranding/user-login-new.jpg);
    /* background-repeat: repeat-y; */
    /* background-repeat: repeat-x; */

    background-repeat: no-repeat;
    background-size: 100%;



}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

#navbar-top {
    border: 0px solid red;
    width: 100%;
    height: 25px;
    background-color: #EAEAEA;
    position: fixed;
    top: 0px;
}

#navbar-top p {
    cursor: pointer;
}

.nav {
    border: 0px solid red;
    width: 75%;
    height: 100%;
    margin: auto;
    display: flex;
    gap: 25%;


}

.nav-right {
    border: 0px solid black;
    height: 100%;
    width: 30%;
    display: flex;
    font-size: 13px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #4F4F5C;


}

.nav-right img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.nav-left {
    border: 0px solid green;
    width: 45%;
    display: flex;
    font-size: 13px;
    gap: 15px;
    justify-content: center;
    align-items: center;
    color: #4F4F5C;
}

.nav-left img {
    width: 11px;
    height: 9px;
}

#d {
    font-size: 24px;
    color: #B4B4B4;
}

#main-navbar {
    border: 0px solid red;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 15px;
}

.navbar-part {
    border: 0px solid black;
    height: 100%;
    width: 70%;
    margin: auto;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.navbar-part>img {
    width: 92px;
    height: 38px;
    cursor: pointer;
}

#loc {
    display: flex;
    gap: 4px;
    cursor: pointer;
}

#loc>img {
    width: 28px;
    height: 28px;
}

#place img {
    width: 11px;
    height: 9px;
}

.cat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.cat:hover {
    color: red;
}

.log {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.log:hover {
    color: red;
}

.ct {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

#search {
    height: 80px;
    border: 1px solid #EAEAEA;
    height: 40px;
    width: 370px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 10px;
    background-color: #F8F8F8;
}

#search img {
    width: 24px;
    height: 24px;
}

#search input {
    background-color: #F8F8F8;
    height: 40px;
    width: 370px;
    font-size: 16px;
    line-height: 22.5px;
    border: none;
    outline: none;
}

/* #username{
    margin-top: 20px;

}
#password{
margin-top: 30px;

} */
.bom {
    /* margin-top: 20px; */
    width: 100%;
    height: 25px;
    border-radius: 5px;
    /* background-color: white; */
    border: none;
    border: 1px solid gray;
    outline: none;
    padding: 0 5px;
    border:none;
    border-bottom: 1px solid gray;
    height: 40px;
    font-size: 14px;
}

#btn_1 {
    width: 100%;
    height: 40px;
    background-color: #8b8787;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    font-size: 20px;
    color:white;
    cursor: pointer;
}

#btn_1:hover{
    background-color: #d3cbcb;
}

#btn_1:active{
    background-color: #4F4F5C;
    color: white;
}

.text_centre {
    /* background-color: aliceblue; */
    /* margin-top: 150px; */
    font-size: 20px;
    font-weight: 700;
    margin: 10px 15px 20px;
}


#shivam {
    /* margin-top: 100px; */
    padding: 20px;
    line-height: 2em;
}

#store {
    display: none;
}

.login_section {
    position: absolute;
    right: 0;
    top: 0;
}

.login_form {
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    position: absolute;
    width: calc(100% - 30px);
    bottom: 0;
    padding-bottom: 20px;
    min-height: 400px;
    margin-left: 15px;
}

.header {
    padding: 40px 15px;
    color: #fff;
    position: relative;
}

.header .close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 0;
    cursor: pointer;
}

.header .logo img {
    width: 133px;
}